<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">BUS TICKETS</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">rPool<sup>New</sup></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">BUS HIRE</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">PILGRIMAGES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profiles/addprofile">add profile</a>
                {{!-- this href path is routing path we provided under addprofile --}}
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="/profile/profiles" class="nav-link">profiles</a></li>
            <li class="nav-item"><a href="" class="nav-link">Manage Booking</a></li>
            <li class="nav-item"><a href="" class="nav-link">User</a></li>
        </ul>
    </div>
</nav>