{{!-- it is like root....like index.html --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express Application</title>
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../css/custom.css">
</head>

<body>
    <header>
        {{> _navbar}}
        <!--calling external handlebars example partials handlebars-->
    </header>

    {{{body}}}
    <!--dynamic--->
    <script src="../../dist/js/bootstrap.js"></script>
    <script src="../../dist/jquery.min.js"></script>
    <script src="../../js/custom.js"></script>
</body>

</html>